<!-- <p>
  header works!
</p> -->

<header id="header">
  <a class="home-link" href="/">
    <img class="logo" src="">
  </a>
  <div class="header-text">
    <div class="left">
      <h1 class="name">
        <a href="/">Angular 2 HN</a>
      </h1>
      <span class="header-nav">
        <a href="">New</a>
        <span class="divider">
          |
        </span>
        <a href="">Show</a>
        <span class="divider">
          |
        </span>
        <a href="">Jobs</a>
      </span>
    </div>
    <div class="info">
      Built with <a href="https://cli.angular.io/" target="_blank">Angular CLI</a>
    </div>
  </div>
</header>
